<%= form_with(model: evaluation, url:"/evaluations/"+@entry.id.to_s,local: true) do |form| %>
  <% if evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label "学籍番号" %>
    <%= form.number_field :school_num %>
  </div>

  <div class="field">
    <%= form.label :evaluate1 %>
    <%1.upto(5) do |i|%>
      <label style="display:inline; "><%= form.radio_button :evaluate1,i %><%=i%></label>
    <%end%>
  </div>

  <div class="field">
    <%= form.label :evaluate2 %>
    <%1.upto(5) do |i|%>
      <label style="display:inline; "><%= form.radio_button :evaluate2,i %><%=i%></label>
    <%end%>
  </div>

  <div class="field">
    <%= form.label :evaluate3 %>
    <%1.upto(5) do |i|%>
      <label style="display:inline; "><%= form.radio_button :evaluate3,i %><%=i%></label>
    <%end%>
  </div>

  <div class="field">
    <%= form.label :evaluate4 %>
    <%1.upto(5) do |i|%>
      <label style="display:inline; "><%= form.radio_button :evaluate4,i %><%=i%></label>
    <%end%>
  </div>


  <div class="field">
    <%= form.label "コメント" %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit "送信"%>
  </div>
<% end %>
