<%= form_with(model: evaluation, url:"/evaluations/"+@entry.id.to_s,local: true) do |form| %>
  <% if evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label "学籍番号" %>
    <%= form.number_field :school_num, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label "新規性" %>
    <%1.upto(5) do |i|%>
      <div class="custom-control custom-radio custom-control-inline">
        <%= form.radio_button :evaluate1,i,{class: "custom-control-input", id:"radio1_"+i.to_s} %>
        <label class = "custom-control-label" for = "radio1_<%=i.to_s%>" ><%=i%></label>
      </div>
    <%end%>
  </div>
  <div class="field">
    <%= form.label "完成度" %>
    <%1.upto(5) do |i|%>
      <div class="custom-control custom-radio custom-control-inline">
        <%= form.radio_button :evaluate2,i,{class: "custom-control-input", id:"radio2_"+i.to_s} %>
        <label class = "custom-control-label" for = "radio2_<%=i.to_s%>" ><%=i%></label>
      </div>
    <%end%>
  </div>
  <div class="field">
    <%= form.label "期待度" %>
    <%1.upto(5) do |i|%>
      <div class="custom-control custom-radio custom-control-inline">
        <%= form.radio_button :evaluate3,i,{class: "custom-control-input", id:"radio3_"+i.to_s} %>
        <label class = "custom-control-label" for = "radio3_<%=i.to_s%>" ><%=i%></label>
      </div>
    <%end%>
  </div>
  <div class="form-group">
    <%= form.label "コメント" %>
    <%= form.text_area :comment, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "送信" ,class: "btn btn-primary"%>
  </div>
<% end %>
