<p id="notice"><%= notice %></p>

<h1>Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>entry id</td>
      <th>School num</th>
      <th>Evaluate1</th>
      <th>Evaluate2</th>
      <th>Evaluate3</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.entry_id %></td>
        <td><%= evaluation.school_num %></td>
        <td><%= evaluation.evaluate1 %></td>
        <td><%= evaluation.evaluate2 %></td>
        <td><%= evaluation.evaluate3 %></td>
        <td><%= evaluation.evaluate4 %></td>
        <td><%= evaluation.comment %></td>
        <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
