<p id="notice"><%= notice %></p>

<p>
  <strong>School num:</strong>
  <%= @evaluation.school_num %>
</p>

<p>
  <strong>Evaluate1:</strong>
  <%= @evaluation.evaluate1 %>
</p>

<p>
  <strong>Evaluate2:</strong>
  <%= @evaluation.evaluate2 %>
</p>

<p>
  <strong>Evaluate3:</strong>
  <%= @evaluation.evaluate3 %>
</p>

<p>
  <strong>Evaluate4:</strong>
  <%= @evaluation.evaluate4 %>
</p>

<p>
  <strong>:</strong>
  <%= @evaluation. %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @evaluation.comment %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
