<%= form_with(model: entry,local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label "チーム名" %>
    <%= form.text_field :teamname %>
  </div>  
  <div class="field">
    <%= form.label "部門" %>
    <%=form.select(:type, {"ハード":0,"ソフト":1},:selected=>@entry.type)%>
  </div>
  <div class = "field">
  
    <!--react-->
    <%=react_component "UsersForm" ,{default_users:@entry.users}%>
  </div>
  
  <div class="field">
    <%= form.label "作品名(未定でもok)" %>
    <%= form.text_field :prodname %>
  </div>
  <div class="field">
    <%= form.label "作品の説明" %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label "紹介するファイル等" %>
    <%= form.file_field :files, multiple: true%>
  </div>
  
  <div class="field">
    <%#= form.label :password %>
    <%#= form.password_field :password %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= javascript_pack_tag 'application' %>
