<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :teamname %>
    <%= form.text_field :teamname %>
  </div>
  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>
  <%=form.fields_for :users do |userform|%>
    <%5.times do |i|%>
      <div class = "userfield">
      <h3>参加者<%=i+1%></h3>
  　  <div class="field">
        <%= userform.label "名前" %>
        <input type='text' name='entry[users][<%=i%>][name]'>
      </div>
      <div class="field">
        <%= userform.label "学年" %>
        <input type='text' name='entry[users][<%=i%>][grade]'>
      </div>
      </div>
  　<%end%>
  <%end%>
  <div id = "testform">
    <!--react-->
    <%=react_component "UsersForm" ,{default_users:@entry.users}%>
  </div>
  <script type = "text/javascript">
    /*let userfields = document.getElementsByClassName("userfield");
    i=0;
    let f = function(){
      for(let f of userfields){
      f.hidden=true;
      }
      i=0;
      addUserForm();
    }
    
    window.addEventListener("DOMContentLoaded",f)
    let addUserForm = function () {
      if(i>=3)return;
      if(i>=2){
        document.getElementById("addbutton").hidden=true

      }
      userfields[i].hidden=false;      
      i++;
    }*/
  </script>
  <input type = "button" id = "addbutton" onclick =addUserForm() value ="人数追加"></button>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :files %>
    <%= form.file_field :files, multiple: true%>
  </div>
  
  <div class="field">
    <%#= form.label :password %>
    <%#= form.password_field :password %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= javascript_pack_tag 'application' %>
