<p id="notice"><%= notice %></p>

<p>
  <strong>Teamname:</strong>
  <%= @entry.teamname %>
</p>

<p>
</p>

<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
