
<h1>総合</h1>
  <h2>全体ランク</h2>
  <%=react_component "RankingTable", jsonurl: "/ranking.json"%>
  <h2>新規性ランク</h2>
  <%=react_component "RankingTable", jsonurl: "/ranking/1.json"%>
  <h2>完成度ランク</h2>
  <%=react_component "RankingTable", jsonurl: "/ranking/2.json"%>
  <h2>期待度ランク</h2>
  <%=react_component "RankingTable", jsonurl: "/ranking/3.json"%>
<h1>ハード</h1>
  <h2>全体ランク</h2>
  <%=react_component "RankingTable", jsonurl: "/ranking/hard.json"%>
  <h2>新規性ランク</h2>
  <%=react_component "RankingTable", jsonurl: "/ranking/hard/1.json"%>
  <h2>完成度ランク</h2>
  <%=react_component "RankingTable", jsonurl: "/ranking/hard/2.json"%>
  <h2>期待度ランク</h2>
  <%=react_component "RankingTable", jsonurl: "/ranking/hard/3.json"%>
<h1>ソフト</h1>
  <h2>全体ランク</h2>
  <%=react_component "RankingTable", jsonurl: "/ranking/soft.json"%>
  <h2>新規性ランク</h2>
  <%=react_component "RankingTable", jsonurl: "/ranking/soft/1.json"%>
  <h2>完成度ランク</h2>
  <%=react_component "RankingTable", jsonurl: "/ranking/soft/2.json"%>
  <h2>期待度ランク</h2>
  <%=react_component "RankingTable", jsonurl: "/ranking/soft/3.json"%>